POSTHOG:
- BOOTSTRAP=
- SHARED_INFRA=
- SECRET=
- ENCRYPTION_SALT_KEYS=

PROMETHEUS:
- RETENTION_TIME=

RABBITMQ:
- USER=
- PASSWORD=

RCLONE:
  AWS:
    - ACCESS_KEY_ID=
    - SECRET_ACCESS_KEY=
    - CONSOLE_URL=
    - CONSOLE_USER=
    - CONSOLE_PASSWORD=
  S3:
    - BUCKET=
    - OBJECT=
    - REGION=
  CRYPT:
    - PASSWORD=
